<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{- partial "head.html" . -}}

<body>
  <div class="container">
    {{- partial "header.html" . -}}

    <main id="list">
      <div class="article-header light-gray">
        <h1>#{{ .Title | default (path.Base .File.Dir) | humanize }} <a href="./../">..</a></h1>
      </div>

      {{ $root := print "/content/" (path.Dir .File.Path)}}
      <div class="css-treeview box">
        <ul>
          {{ template "dir-tree-nav" $root }}
        </ul>
      </div>

      <article>
        {{ define "dir-tree-nav" }}
        {{ $root := .}}
        {{ $reldir := (delimit (after 3 (split . "/")) "/" ) }}
        {{ if (ne ( path.Ext .) "" ) }}
        {{ else }}
        {{ range (readDir .) }}
        {{ $target := (index (split .Name ".") 0)}}
        {{ $file := (printf "%s/%s" $root .Name )}}
        {{ if (and (ne $target "uploads" ) (ne (path.Base $file) "_index.md"))}}
        <li>
          {{ if (eq (path.Ext .Name) ".md")}}
          <a href="/note/{{ (printf "%s/%s" $reldir $target )}}/">{{ with site.GetPage (path.Join "/" (after 2 (split $file "/")))}}{{ .Title }}{{ end }}</a>
          {{ else }}
          {{ if (fileExists (print $file "/_index.md")) }}
          <a href="{{ (delimit (after 3 (split $file "/")) "/" ) }}">{{ .Name | humanize }}</a>
          {{ else }}
          {{ .Name | humanize }}
          {{ end }}
          {{ end }}
          <ul>
            {{ template "dir-tree-nav" (printf "%s/%s" $root .Name) }}
          </ul>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ .Content }}
      </article>
    </main>
    {{- partial "footer.html" . -}}
  </div>
</body>
{{- partial "post-body.html" . -}}

</html>