<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{- partial "head.html" . -}}

<body>
    <div class="container">
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </div>
    {{- partial "post-body.html" . -}}
</body>

</html>