/* import other
--------------------------------------------------*/
@import "sanitize";
@import "responsive";

/* Theme color
--------------------------------------------------*/
$primary-color: #2869da;
$text-color: #333333;
$meta-color: #757575;
$light-background: #e6efff;

/* Basic
--------------------------------------------------*/

body {
    background-color: #fff;
    font-family: "cabin", 'PingFang SC', 'Noto Sans CJK SC', 'Dengxian', 'SimHei', sans-serif;
    font-size: 1em;
    color: $text-color;
    line-height: 1.8em;
    letter-spacing: 0.5px;
    font-feature-settings: "liga"1, "calt"1;
}

.container {
    padding: 0 20px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3,
h4,
h5,
h6 {
    font-size: 1em;
}

rt {
    font-size: 0.8em;
}

header a,
header a:visited,
main#index a,
main#index a:visited,
main#list a,
main#list a:visited,
nav a,
nav a:visited {
    color: $text-color;
}

article a,
article a:visited,
footer a,
article a:visited {
    color: $primary-color;
    border-bottom: solid $light-background 2px;
}

header a:hover,
article a:hover,
main#index a:hover,
main#list a:hover,
footer a:hover {
    background-color: $light-background;
    color: $primary-color;
    text-decoration: none;
    border-bottom: solid $primary-color 2px;
}

main#index .meta a,
main#list .meta a,
main#single .meta a {
    color: $meta-color;
}

#social a:hover {
    border-bottom: none;
}

main#index .meta a:hover,
main#list .meta a:hover,
main#single .meta a:hover {
    background-color: $light-background;
    text-decoration: none;
    color: $primary-color;
    border-bottom: solid $primary-color 2px;
}

.css-treeview a {
    color: $primary-color !important;
}

.css-treeview a:hover {
    color: $primary-color !important;
}

ul,
ol {
    margin-left: 30px;
}

pre {
    margin: 25px 0;
    background-color: #f8f8f8 !important;
}

table {
    border: 1px solid #ccc;
    margin: 25px 0;
}

th {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 2px 10px;
}

td {
    border: 1px solid #ccc;
    padding: 2px 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

/* Header
--------------------------------------------------*/

header {
    padding: 20px 0;
}

header h2 {
    font-size: 0.9em;
    line-height: 1.5em;
}

header #menu {
    text-align: right;
}

header #social {
    margin-top: 16px;
    text-align: left;
}

header #menu ul,
header #social ul {
    font-size: 0;
    margin: 0;

}

header #social ul {
    li>a:hover {
        background: none;
    }
}

header #menu li,
header #social li {
    display: inline-block;
    font-size: 1rem;
    padding: 0 10px;
}

header #social li {
    padding: 0 8px;

    img {
        max-width: 100%;
        height: 16px;
    }
}

header #menu li:first-child,
header #social li:first-child {
    padding-left: 0;
}

header #menu li+li {
    border-left: 1px solid #ccc;
}

header #menu li:last-child {
    padding-right: 0;
}

@media (max-width: 767px) {

    header h1,
    header h2 {
        width: 100%;
        text-align: center;
    }

    #social ul {
        text-align: center;
    }
}

@media (max-width: 767px) {
    header #menu {
        margin-top: 20px;
        text-align: center;
    }
}

/* Pager (for List Page)
--------------------------------------------------*/

nav ul.pagination {
    font-size: 0;
    text-align: center;
    margin: 0;
}

nav ul.pagination li {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 3px 10px;
    margin: 0 3px;
}

nav ul.pagination li.active {
    border: 2px solid $primary-color;
}

nav ul.pagination li:hover {
    border-color: $primary-color;
}

/* Pager (for Single Page)
--------------------------------------------------*/

@mixin pagination-single-span($float) {
    float: $float;
    padding: 10px 0 10px 0;
    max-width: 300px;
}

nav.pagination-single {
    padding: 20px 0 20px 0;
    overflow: hidden;
}

nav.pagination-single span.previous {
    @include pagination-single-span(left);
}

nav.pagination-single span.next {
    @include pagination-single-span(right);
}

nav.pagination-single a {
    color: $primary-color;
    border-bottom: solid $light-background 2px;
}

nav.pagination-single a:hover {
    color: $primary-color;
    background-color: $light-background;
    border-bottom: solid $primary-color 2px;
}

/* Comment
--------------------------------------------------*/

#single aside {
    margin-top: 80px;
}

/* Footer
--------------------------------------------------*/

footer {
    margin: 80px 0;
    padding: 20px 0;
    width: 100%;
}

footer img {
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    footer {
        margin: 40px 0;
    }
}

/* Single Page
--------------------------------------------------*/

article h1 {
    margin: 25px 0 12px 0;
}

article h2 {
    margin: 25px 0 12px 0;
}

article h3,
article h4,
article h5,
article h6 {
    margin: 20px 0 12px 0;
}

article {

    h1:before,
    h2:before,
    h3:before,
    h4:before,
    h5:before,
    h6:before {
        content: "# ";
    }
}

article p {
    margin: 12px 0;
}

article hr {
    border: #eeeeee;
    border-width: 1px;
    border-style: solid;
}

article>p>code {
    color: $text-color;
    background-color: #f8f8f8;
    font-family: "Cascadia Code", 'Fira Code', monospace;
    font-size: 1em;
    padding: 0 4px;
}

article code {
    color: $text-color;
    background-color: #f8f8f8;
    font-family: "Cascadia Code", 'Fira Code', monospace;
    font-size: 1em;
}

code,
kbd,
pre,
samp {
    font-family: "Cascadia Code", 'Fira Code', monospace;
}

article blockquote {
    margin: 25px 0;
    padding-left: 20px;
    border-left: 4px solid #ccc;
}

article img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

article #share-this {
    margin: 40px 0 40px 0;
}

article .footnotes {
    margin-top: 32px;
}

/* Common
--------------------------------------------------*/

.article-header {
    border-left: 4px solid $primary-color;
    margin: 10px 0 25px -4px;
    padding: 5px 0 5px 10px;
}

.light-gray {
    color: #888;
}

.summary {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
}

.tile {
    padding: 20px;
    float: left;
    width: 50%;
    height: 200px;

    .tile-title {
        background-color: rgba(255, 255, 255, 0.8);
        margin: -20px;
        padding: 20px;
    }

    margin-bottom: 20px;
}

.meta {
    color: $meta-color;
    font-size: 0.9rem;
}

@import "fonts";
@import "custom";