<footer>
  <div style="text-align:center;">
    {{ with .Site.Params.profile }}
    <img src="{{ . }}" alt="profile" width="64" height="64">
    <br>{{ end }}
    {{ .Site.Params.copyright | markdownify }}
  </div>
</footer>
