<header>
  <div class="row gutters">
    <div id="site-title" class="col span_6">
      <h1>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </h1>
      {{ with .Site.Params.subtitle }}
      <h2>{{ . }}</h2>{{ end }}
      <div id="social">
        <ul>
          {{ range .Site.Params.social }}
          <li>
            <a href="{{.url}}" {{ with .rel }} rel="{{.}}" {{ end }}>
              <img class="icon" src="{{ .Site.BaseURL }}/icon/{{.platform}}.svg" height="16" alt="{{.platform}}" />
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div id="menu" class="col span_6">
      <ul>
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{.URL}}">{{.Name}}</a>
        </li>
        {{ end }} {{ if .Site.Params.showsRSS }}
        <li>
          <a href="{{ .Site.BaseURL }}index.xml" type="application/rss+xml" target="_blank">RSS</a>
        </li>{{ end }}
      </ul>
    </div>
  </div>
</header>