<script src="/js/instantclick.min.js" data-no-instant></script>

{{ if  .Site.Params.math }}
{{ partial "katex.html" . }}
{{ end }}
{{ if  .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

<script data-no-instant>
  InstantClick.init();
  InstantClick.on('change', function () {
    if (typeof renderMathInElement !== 'undefined')
      renderMathInElement(document.body, {
        delimiters: [{
            left: "$$",
            right: "$$",
            display: true
          },
          {
            left: "$",
            right: "$",
            display: false
          },
          {
            left: "\\(",
            right: "\\)",
            display: false
          },
          {
            left: "\\[",
            right: "\\]",
            display: true
          }
        ]
      });
    if (typeof ga !== 'undefined')
      ga('send', 'pageview', location.pathname + location.search);
  });
</script>