{{ define "main" }}

<main id="index">
  <div class="article-header light-gray">
    <h1>Recent Articles</h1>
  </div>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "not in" (slice "static" "note")) }}
  {{ range $paginator.Pages }}
  <div class="summary">
    <h2>
      <a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
    </h2>
    <div class="meta">
      {{ .Date.Format "Jan 2, 2006" }} &nbsp; {{ range .Params.tags }} #<a
        href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp; {{ end }}
    </div>
  </div>
  {{ end }}
</main>


<!-- Paginator Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav>
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "not in" (slice "static" "note")) }}
  {{ template "_internal/pagination.html" . }}
</nav>

{{ end }}