{{ define "main" }}

<main id="list">
  <div class="article-header light-gray">
    <h1>#{{ .Title }}</h1>
  </div>
  {{ range .Data.Pages }}
  <div class="tile" style="background-image: url({{ .Params.cover }}); background-size: cover;">
    <div class="tile-title">
      <h2>
        <a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a>
      </h2>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp; {{ range .Params.tags }} #
        <a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp; {{ end }}
      </div>
    </div>
  </div>
  {{ end }}
</main>

{{ end }}